<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Student -->
      <package
            uri="http://www.shashwat.com/studentmodel"
            class="StudentModel.StudentModelPackage"
            genModel="model/Student.genmodel"/>
   </extension>

</plugin>
